<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/login.css" type="text/css">
    <title>Login Page</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto mt-5">
                <div class="login-container">
                    <h2>Login</h2>
                    <form action="/authenticate" method="POST">
                        <div class="form-group">
                            <input for="" type="text" class="form-control" id="user-id" name="user-id" placeholder="Username or Email" required>
                        </div>
                        <div class="form-group">
                            <input for="" type="password" class="form-control" id="user-pass" name="user-pass" placeholder="Password" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Log In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
